<html>
<head>
    <style>
        .label {
            color: white;
            padding: 8px;
        }

        .success {color: #04AA6D;} /* Green */
        .danger {color: #f44336;} /* Red */

        body {
            display: flex;
            justify-content: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .input-field {
            position: relative;
            margin-top: 2rem;
        }

        .input-field input {
            padding: 0.8rem;
        }

        form .input-field:first-child {
            margin-bottom: 1.5rem;
        }

        form input[type="submit"] {
            background: linear-gradient(to left, #4776E6, #8e54e9);
            color: white;
            border-radius: 4px;
            margin-top: 2rem;
            padding: 0.4rem;
        }

    </style>
</head>
<body>
<form action="./add" method="post" enctype="multipart/form-data">
    <h2>Create Player</h2>
    <div class="input-field">
        <input type="text" name="name" id="name" placeholder="Enter name">
    </div>
    <div class="input-field">
        <input type="text" name="birthdate" id="birthdate" placeholder="Enter birthdate">
    </div>
    <div class="input-field">
        <input type="text" name="nationality" id="nationality" placeholder="Enter nationality">
    </div>
    <div class="input-field">
        <input type="text" name="teamId" id="teamId" placeholder="Enter teamId">
    </div>
    <div class="input-field">
        <input type="text" name="position" id="position" placeholder="Enter position">
    </div>
    <div class="input-field">
        <input type="text" name="number" id="number" placeholder="Enter number">
    </div>
    <div class="input-field">
        <input type="text" name="leagueId" id="leagueId" placeholder="Enter leagueId">
    </div>
    <div class="input-field">
        <input type="file" name="image" id="image">
    </div>
    <input type="submit" value="create">
    <%if(errors!=null){%>
        <ul>
            <% errors.forEach((error)=>{
                %>
                <li class="label danger"><%= error.msg %></li>
                <%
            }) %>
        </ul>
    <%}%>
    <%if(add!=null){ %>
        <br>
        <br>
        <span class="label success">New player created with the id: <%= add%></span>
    <%}%>


</form>
</body>
</html>
