<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="./add" method="post">
    <h2>Create Player</h2>
    <div class="input-field">
        <input type="text" name="name" id="name" placeholder="Enter name">
    </div>
    <div class="input-field">
        <input type="text" name="birthdate" id="birthdate" placeholder="Enter birthdate">
    </div>
    <div class="input-field">
        <input type="text" name="nationality" id="nationality" placeholder="Enter nationality">
    </div>
    <div class="input-field">
        <input type="text" name="teamId" id="teamId" placeholder="Enter teamId">
    </div>
    <div class="input-field">
        <input type="text" name="position" id="position" placeholder="Enter position">
    </div>
    <div class="input-field">
        <input type="text" name="number" id="number" placeholder="Enter number">
    </div>
    <div class="input-field">
        <input type="text" name="leagueId" id="leagueId" placeholder="Enter leagueId">
    </div>
    <input type="submit" value="create">
    <%if(errors!=null){%>
        <ul>
            <% errors.forEach((error)=>{
                %>
                <li><%= error.msg %></li>
                <%
            }) %>
        </ul>
    <%}%>
</form>
</body>
</html>
