<html>
<head>
    <style>
        .label {
            color: white;
            padding: 8px;
        }

        .success {color: #04AA6D;} /* Green */
        .danger {color: #f44336;} /* Red */

    </style>
</head>
<body>
<form action="./add" method="post">
    <h2>Create Player</h2>
    <div class="input-field">
        <input type="text" name="id" id="id" placeholder="Enter id">
    </div>
    <div class="input-field">
        <input type="text" name="name" id="name" placeholder="Enter name">
    </div>
    <div class="input-field">
        <input type="text" name="birthdate" id="birthdate" placeholder="Enter birthdate">
    </div>
    <div class="input-field">
        <input type="text" name="nationality" id="nationality" placeholder="Enter nationality">
    </div>
    <div class="input-field">
        <input type="text" name="teamId" id="teamId" placeholder="Enter teamId">
    </div>
    <div class="input-field">
        <input type="text" name="position" id="position" placeholder="Enter position">
    </div>
    <div class="input-field">
        <input type="text" name="number" id="number" placeholder="Enter number">
    </div>
    <div class="input-field">
        <input type="text" name="leagueId" id="leagueId" placeholder="Enter leagueId">
    </div>
    <input type="submit" value="create">
    <%if(errors!=null){%>
        <ul>
            <% errors.forEach((error)=>{
                %>
                <li class="label danger"><%= error.msg %></li>
                <%
            }) %>
        </ul>
    <%}%>
    <%if(add!=null){ %>
        <br>
        <br>
        <span class="label success"><%= add%></span>
    <%}%>


</form>
</body>
</html>
