<html>
<head>
    <style>
        .label {
            color: white;
            padding: 8px;
        }

        .success {color: #04AA6D;} /* Green */
        .danger {color: #f44336;} /* Red */

        body {
            display: flex;
            justify-content: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .input-field {
            position: relative;
            margin-top: 2rem;
        }

        .input-field input {
            padding: 0.8rem;
        }

        form .input-field:first-child {
            margin-bottom: 1.5rem;
        }

        form input[type="submit"] {
            background: linear-gradient(to left, #4776E6, #8e54e9);
            color: white;
            border-radius: 4px;
            margin-top: 2rem;
            padding: 0.4rem;
        }

    </style>
</head>
<body>
<form action="./register" method="post">
    <h2>Register</h2>
    <div class="input-field">
        <input type="text" name="izena" id="izena" placeholder="Enter izena">
    </div>
    <div class="input-field">
        <input type="text" name="abizena" id="abizena" placeholder="Enter abizena">
    </div>
    <div class="input-field">
        <input type="text" name="email" id="email" placeholder="Enter email helbidea">
    </div>
    <div class="input-field">
        <input type="password" name="pasahitza" id="psahitza" placeholder="Enter pasahitza">
    </div>
    <input type="submit" value="Register">
    <%if(errors!=null){%>
        <ul>
            <% errors.forEach((error)=>{
            %>
                <li><%= error.msg %></li>
            <%
            }) %>
        </ul>
    <%}%>
</form>
</body>
</html>
